@import "tailwindcss";
/* @font-face {
  font-family: "GalleryModern";
  src: url("../assets/fonts/GalleryModern.woff") format("woff");
}
@font-face {
  font-family: "NeueMachina";
  src: url("../assets/fonts/NeueMachina-Regular.woff") format("woff");
} */

:root {
  --nav-hight: 8rem;
  --bg-high-gradient: linear-gradient(45deg, rgb(253, 67, 105) 7%, rgb(253, 67, 160) 52%, rgb(255, 0, 227) 88%);
}

.pt-nav {
  padding-top: calc(var(--nav-hight) + 2rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #060105; /*0d0108*/
  color: #fff;
}
.home-section {
  backdrop-filter: blur(4rem);
  width: 100vw;
  padding-right: 4rem;
  padding-left: 4rem;
}

main.dashboard-section {
  backdrop-filter: blur(4rem);
  --webkit-backdrop-filter: blur(4rem);
  --moz-backdrop-filter: blur(4rem);

  padding-top: 5rem;

  overflow-x: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 40rem 8rem #ff0b94;
    filter: contrast(1.3) brightness(1.2);
    border-radius: 50%;
    /* background: var(--bg-high-gradient);
        opacity: 0.2; */
    z-index: -1;
  }

  &::after {
    left: unset;
    right: -2%;
    box-shadow: 0 0 40rem 10rem #ff0b94;
    top: 17%;
    width: 1px;
    aspect-ratio: 1;
    background: transparent;
  }
}
