@import "tailwindcss";
/* @font-face {
  font-family: "GalleryModern";
  src: url("../assets/fonts/GalleryModern.woff") format("woff");
}
@font-face {
  font-family: "NeueMachina";
  src: url("../assets/fonts/NeueMachina-Regular.woff") format("woff");
} */

:root {
  --nav-hight: 8rem;
  --bg-high-gradient: linear-gradient(45deg, rgb(253, 67, 105) 7%, rgb(253, 67, 160) 52%, rgb(255, 0, 227) 88%);
}

.pt-nav {
  padding-top: calc(var(--nav-hight) + 2rem);
}

body {
  background: #060105; /*0d0108*/
  color: #fff;
}
.home-section {
  backdrop-filter: blur(4rem);
  width: 100vw;
  padding-right: 4rem;
  padding-left: 4rem;
}
