.btn-create {
  display: flex;
  align-items: center;
  background: white;
  filter: contrast(1.2) brightness(1.2);
  padding: 10px 2rem;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  letter-spacing: 2px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease-in-out;
    background: var(--bg-high-gradient);
  }

  &:hover {
    transform: scale(1.02);
    color: rgba(221, 220, 220, 0.836);

    &::before {
      width: 100%;
      z-index: -1;
    }
  }
}

