@import "tailwindcss";
@font-face {
  font-family: "GalleryModern";
  src: url("../fonts/GalleryModern.woff") format("woff");
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/NeueMachina-Regular.woff") format("woff");
}

.font-gallery {
  font-family: "GalleryModern", sans-serif;
  font-style: normal;
}
.font-neue {
  font-family: "NeueMachina", sans-serif;
  font-style: normal;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
} */

.font-open {
  font-family: "Open Sans", "Open Sans Fallback";
  font-style: normal;
}
